* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Montserrat';
}

header {
    padding-top: 50px;
    padding-bottom: 20px;
    border-bottom: 2px solid white;
    box-shadow: 0px 1px 1px  grey;
}

h1,
h2 { 
    text-transform: uppercase;
}

h3 {
    font-size: 30px; 
}

/*---------------------
-------TOPBAR----------
-----------------------*/

.topbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.topbar-title {
    display: flex;
    flex-direction: row;
    padding-bottom: 15px;
}

.topbar h1 {
    font-size: 21px;
    line-height: 22px;
}

.topbar a {
    font-size: 15px;
    align-self: center;
    margin-left: 50px;
    color: #5A5A5A;
}

.topbar input {
    width: 390px;
    height: 48px;
    background: #f3f3f3;
    border-radius: 4px;
    border: none;
}

/*---------------------
-------DESCRIPTION-----
-----------------------*/

.main-des {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-des img {
    width: 450px;
    height: 250px;
    box-shadow: 0px 2px 2px grey;
    border-radius: 4px;
}

.main-des h2 {
    margin-bottom: 40px;
}

.main-description { 
    font-size: 22px;
    line-height: 130%;
    font-weight: normal;

    display: inline-block;
    max-width: 26%;
    margin: 50px 0 0 30px;
}

.btn {
   display: inline-block;
   margin: 15px 0px 0px 30px;
   color: white;
   text-decoration: none;
   padding: 5px 20px;
   transition: background-color 0.2s, border 0.2s;
}

.btn-g {
    background-color: #E17055;
    border: 1px solid #E17055;
    border-radius: 4px;
}

.btn-d {
    background-color: #74B9FF;
    border: 1px solid #74B9FF;
    border-radius: 4px;
}

.btn-g:hover {
    background-color: rgb(197, 102, 78);
}

.btn-d:hover {
    background-color: rgb(97, 157, 218);
}

/*---------------------
-------ENVIRONMENTS-----
-----------------------*/

.environments {
    margin-top: 70px;
}

.branch {
    display: flex;
    justify-content: center;
    align-content: center;
}

.branch-box {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    width: 330px;
    height: 200px;
    border: 1px solid;
    box-shadow: 0px 2px 2px grey;
    border-radius: 4px;
}

.branch-box-header {
    border-bottom: 1px solid grey;
    box-shadow: 0 1px 0 grey;
}

.branch-box-header h4 {
    margin: 0px 0 10px 10px;
    font-size: 25px;
    line-height: 50%;
    font-weight: normal;
}

.branch-box-main {
    margin-top: 40px;
    align-self: center;
}

.branch-box-main a {
    text-decoration: none;
    color: grey;
    font-size: 20px;
    line-height: 17px;
}

.status {
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 30px;
    background-color: #AAFFB2;
    align-self: center;
    padding: 4px 60px;
    border-radius: 4px;
}

.offline {
    background-color: #FF7C7C;
}

/*---------------------
-------ENVIRONMENTS-----
-----------------------*/

.repository-information {
    display: flex;
    margin-left: 377px;
}

.repository-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cms {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    padding: 15px 30px;
    border: 1px solid grey;
    border-radius: 4px;
    font-size: 20px;
}

.repository-information a {
    text-decoration: none;
    color: grey;
    padding: 11px 70px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    font-size: 20px;
}
.icon {
    font-size: 20px;
    padding: 9px 20px;
    border: 1px solid grey;
    border-radius: 4px;

}

/*---------------------
-------TEAM------------
-----------------------*/

.team {
    display: flex;
    flex-direction: column;
}

.pm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.pm img {
    height: 150px;
}

.dev img {
    height: 150px;
}

.dev {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.about {
    max-width: 500px;
    margin-left: 20px;
}

.about h4 {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 17px;
}

.about p {
    margin-bottom: 20px;
}

.position-pm {
    font-weight: 300;
    margin-left: 10px;
    color: #FFFFFF;
    padding: 7px 30px;
    background-color: #0984E3;
    border-radius: 4px;
    font-size: 14px;
    line-height: 13px;
}

.position-dev {
    font-weight: 300;
    margin-left: 10px;
    color: #FFFFFF;
    padding: 7px 30px;
    background-color: #00B894;
    border-radius: 4px;
    font-size: 14px;
    line-height: 13px;
}

/*---------------------
-------OTHER-----------
-----------------------*/

.other {
    margin-bottom: 100px;
}

.other-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tp {
    margin-right: 20px;
    height: 100px;
    width: 250px;
    border: 1px solid;
    box-shadow: 0px 2px 2px grey;
    border-radius: 4px;
}

.pc {
    margin-right: 20px;
    height: 100px;
    width: 250px;
    border: 1px solid;
    box-shadow: 0px 2px 2px grey;
    border-radius: 4px;
}

.tp-header {
    border-bottom: 1px solid grey;
}

.tp-header h4 {
    margin: 10px 0;
    font-size: 20px;
}

.tp-main {
    display: inline-block;
    margin  : 15px 20px;
    text-decoration: none;
    color: grey;
    font-size: 17px;
}

.pc-header {
    border-bottom: 1px solid grey;
}

.pc-header h4 {
    margin: 10px 0;
    font-size: 20px;
}

.pc-main {
    display: inline-block;
    margin  : 15px 20px;
    text-decoration: none;
    color: grey;
    font-size: 17px;
}